body {
  font-family: 'Open Sans', sans-serif;
  background-color: #ffffff;
}

/* header */
.img-opacity {
  opacity: 90%;
}

/* nav */
.navg a {
  text-align: center;
  font-size: 1.25rem;
  color: #000000;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  padding: 0.625rem 0.9375rem;
}
.navg a:hover {
  color: #f4f4f4;
}
.navg .nav-item .nav-link.active {
  color: #000000;
}
.navg .nav-item .nav-link.active:hover {
  color: #f4f4f4;
}

/* testimonial */
#frase {
  background-color: #dcdcdc;
  padding: 3.125rem 0rem 3.125rem 0rem;
  margin-top: 1.5rem;
}

/* reflexión */
#reflexion {
  background-color: #dcdcdc;
  padding: 3.125rem 0rem 3.125rem 0rem;
  margin-top: 1.5rem;
}

/* carousel */
.carousel-control-prev-icon {
  width: 4rem;
  height: 4rem;
}
.carousel-control-next-icon {
  width: 4rem;
  height: 4rem;
}


