body {
  font-family: 'Open Sans', sans-serif;
}

/* nav */
.navg a {
  color: #000000;
  font-weight: 600;
  /* text-align: center; */
  text-transform: uppercase;
  padding: 1.333vw 2vw;
}
.navg a:hover {
  color: #f4f4f4;
}
.navg .nav-item .nav-link.active {
  color: #000000;
}
.navg .nav-item .nav-link.active:hover {
  color: #f4f4f4;
}
/* frase principal */
#frase {
  background-color: #dcdcdc;
  padding: 6.667vw 0vw 6.667vw 0vw;
  margin-top: 5.333vw;
}


/* toggler responsive */
/* .navbar-toggler-icon{
  width: 1em;
  height: 1.2em;
}  */
/* #navbar-toggle {
  position: absolute;
  top: -99999px;
  left: -99999px;
  opacity: 0;
  visibility: hidden;
}
